
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffcf5c, #7bf1a8, #56d3f2);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
h2 {
    margin-left: 400px;
    color: #072122;
}

table {
    
    border-collapse: collapse;
    margin-left: 400px;
    margin-right: 400px;
}

table, th, td {
    border: 2px solid #1d1a1a;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
